.App {
  background-color: #e6f7f3;
  height: 100vh;
}
.table-block {
  background-color: #b4d4cc;
  width: 350px;
  height: 150px;
  font-size: 22px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border: 0.5px solid black;
}
.table-block p {
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
}
.action-field {
  display: flex;
  justify-content: center;
}
.action-field button {
  margin: 0 2px;
}
.tables {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tables div {
  margin: 15px;
}
