.App {
  background-color: #e6f7f3;
  min-height: 100vh;
}
.tables-main {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.tables-main-divs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 15px;
}

.table-block {
  /* margin-top: 30%; */
  background-color: #b4d4cc;
  width: 185px;
  height: 150px;
  font-size: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 25px;
  flex-wrap: wrap;

  justify-content: center;
  border: 0.5px solid black;
}

.table-block > p {
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
}
.action-field {
  display: flex;
  justify-content: center;
}
.action-field button {
  margin: 0 5px;
}
.tables {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.tables div {
  padding: 15px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  top: 10%;
  bottom: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 90vw;
  position: absolute;
}
.information-table {
  position: relative;

  height: auto;
  width: auto;

  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
  padding: 6px 0px;
  background: #ccc;
  overflow: auto;
}
.information-table-inside {
  height: 70vh;
  border-radius: 8px;
  overflow-y: scroll;
}
/* .information-table-inside::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}
.information-table-inside::-webkit-scrollbar {
  width: 10px;
  padding-top: 25px;
}
.information-table-inside::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
} */

.information-table th,
td {
  padding: 2px 35px;

  border: 1px solid gray;
}
.information-table tr:nth-child(even) {
  background-color: #adc3e4;
}
.information-table tr:nth-child(odd) {
  background-color: #d4bee9;
}
.information-table table {
  width: auto;
  margin: 0 auto;
  text-align: center;
}
.close-button {
  text-align: center;
  margin: 25px auto 0 auto;
}
button {
  cursor: pointer;
  color: #fff;
  background-color: #006988;
  border-color: #004e64;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
  padding: 5px;
}
button:hover,
button:active,
button:focus,
button.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #067292;
  color: #ffffff;
  border-color: #003d4f;
}

.close-button button {
  font-size: 16px;
  width: 90px;
  cursor: pointer;
  height: 35px;
}
h1 {
  text-align: center;
}
.delete-button {
  cursor: pointer;
  font-weight: 600;
  background-color: #c4bacf;
}
.delete-button:hover {
  background-color: #b7d3ac;
}
.delete-button-header {
  font-weight: 700;
}
.update-button {
  cursor: pointer;
  font-weight: 600;
  background-color: #c4bacf;
}
.update-button:hover {
  background-color: #b7d3ac;
}
.update-popup-button {
  margin: 25px auto 0 auto;

  margin: 0 auto;
  text-align: center;
}
.update-popup-button button {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  width: 120px;
  cursor: pointer;
  height: 35px;
}
.input-fields {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.input-fields input {
  margin: 0 15px;
}
.update-header-labels {
  margin-top: 30px;
}
.update-header-labels label {
  margin: 0 15px;
}
.information-table-update-inside {
  padding: 25px;
  height: 50vh;
  overflow-y: scroll;
}
.add-button {
  text-align: center;
  margin: 25px auto 0 auto;
}
.add-button button {
  font-size: 16px;
  width: 95px;
  cursor: pointer;
  height: 35px;
}
.popup-buttons {
  padding-bottom: 25px;
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
